.practicohover:hover{
	color: red;
}

.fondomegan{
	background-image: url("https://www.debate.com.mx/__export/1469154832056/sites/debate/img/2016/07/21/cnvorhswcaal8y1_crop1469154752149.jpg_539665225.jpg");
	height: 500px;
	background-repeat: no-repeat;
	background-size: 
}

.navbar-toggler:hover{
color: pink;
}

